/*additional css file*/

@keyframes logo_slide {
    0%{
        opacity: 0;
        margin-left: -2rem;
    }
    100%{
        opacity: 100%;
        margin-left: 0;
    }
}
.close {
    animation: mobile-nav-close .4s;
}
@keyframes mobile-nav-appear {
    0%{
        display: none;
        left: 100vw;
    }
    100%{
        display: flex;
        left: 0;
    }
}

@keyframes mobile-nav-close {
    0%{
        display: flex;
        left: 0;
    }
    100%{
        display: none;
        left: 100vw;
    }
}

@media (max-height: 830px) and (min-width: 1830px){
    .hs-1{
        padding-top: 4rem;
    }
}

@media (max-width: 767px){
    .nav-flexbox{
        padding: 0.325rem;
    }
    .hf-1{
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        margin: 5.125rem 0 2.125rem 0;
        padding: 0;
    }
    .hf-2{
        padding: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .hf-3{
        padding: 0 0 4rem 0;
        flex-direction: column;
        justify-content: flex-end;
    }
    .company-list-flexbox{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .company-logo{
        width: calc(13rem + 6vw);
        margin: 1rem 0 1rem 0;
    }
    .input-flexbox{
        flex-direction: column;
    }
}

@media (max-width: 1199px){
    .block-row-item{
        max-width: 30rem;
        min-width: 15rem;
    }
    .block-row-item:hover{
        box-shadow: none;
    }
    .block-row{
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        margin: 0;
    }
}

.menu__icon {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu__line {
    position: absolute;
    left: 0;
    background-color: #000000;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
}
.menu__line--1 {
    top: 0;
}
.menu__line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu__line--3 {
    bottom: 0;
}
.menu--close4 .menu__line--1, .menu--close4 .menu__line--3 {
    transition: all 0.2s ease-in-out;
}
.menu--close4 .menu__line--2 {
    transition: transform 0.2s ease-in-out;
}
.menu--close4 .menu__line--2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--1 {
    opacity: 0;
    transform: translate3d(-17px, 0, 0);
    transition: all 0.2s ease-in-out;
}
.menu--close4.open .menu__line--2 {
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--2:before {
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--3 {
    opacity: 0;
    transform: translate3d(17px, 0, 0);
    transition: all 0.2s ease-in-out;
}


.menu--back4 .menu__line--1 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4 .menu__line--2 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4 .menu__line--3 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--1 {
    transform: translate3d(-6.5px, 16px, 0) rotate(-135deg) scaleX(0.7);
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--2 {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--3 {
    transform: translate3d(-6.5px, -16px, 0) rotate(-225deg) scaleX(0.7);
    transition: transform 0.3s ease-in-out;
}
.menu {
    position: relative;
    padding-right: 25px;
}
/*TURKEY PHP GURU WAS HERE*/


