/*additional css file*/

@keyframes logo_slide {
    0%{
        opacity: 0;
        margin-left: -2rem;
    }
    100%{
        opacity: 100%;
        margin-left: 0;
    }
}

@keyframes mobile-nav-appear {
    0%{
        display: none;
        left: 100vw;
    }
    100%{
        display: flex;
        left: 0;
    }
}

@media (max-height: 830px) and (min-width: 1830px){
    .hs-1{
        padding-top: 4rem;
    }
}

@media (max-width: 767px){
    .nav-flexbox{
        padding: 0.325rem;
    }
    .hf-1{
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        margin: 5.125rem 0 2.125rem 0;
        padding: 0;
    }
    .hf-2{
        padding: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .hf-3{
        padding: 0 0 4rem 0;
        flex-direction: column;
        justify-content: flex-end;
    }
    .company-list-flexbox{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .company-logo{
        width: calc(13rem + 6vw);
        margin: 1rem 0 1rem 0;
    }
    .input-flexbox{
        flex-direction: column;
    }
}

@media (max-width: 1199px){
    .block-row-item{
        max-width: 30rem;
        min-width: 15rem;
    }
    .block-row-item:hover{
        box-shadow: none;
    }
    .block-row{
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        margin: 0;
    }
}
