/*additional css file*/

@keyframes logo_slide {
    0%{
        opacity: 0;
        margin-left: -2rem;
    }
    100%{
        opacity: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .home-flexbox-1{
        flex-direction: column;
        justify-content: center;
    }
}