/*main css file*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-size: 24px;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

::selection {
    background: rgba(123, 152, 255, 0.2);
}

::-moz-selection {
    background: rgba(123, 152, 255, 0.2);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    z-index: 999;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul{
    margin: 0;
    display: flex;
    list-style: none;
}

nav li{
    transition: 100ms;
    margin-left: 1rem;
}

nav li:active{
    transform: scale(90%);
}

nav a{
    color: #56597a;
    position: relative;
    text-decoration: none;
    transition: 300ms;
}

nav a:hover{
    transition: 300ms;
    text-decoration: underline;
    color: #7b98ff;

}

nav h1{
    color: #56597a;
    margin: 0;
    font-weight: 600;
    transition: 400ms;
    animation: logo_slide 300ms;
}

nav h1:hover{
    color: #7b98ff;
    cursor: default;
}

nav h1:active{
    transition: 100ms;
}

.mobile-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    z-index: 998;
    animation: mobile-nav-appear 500ms;
}

.menu__icon {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu__line {
    position: absolute;
    left: 0;
    background-color: #56597a;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
}
.menu__line--1 {
    top: 0;
}
.menu__line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu__line--3 {
    bottom: 0;
}
.menu--close4 .menu__line--1, .menu--close4 .menu__line--3 {
    transition: all 0.2s ease-in-out;
}
.menu--close4 .menu__line--2 {
    transition: transform 0.2s ease-in-out;
}
.menu--close4 .menu__line--2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #56597a;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--1 {
    opacity: 0;
    transform: translate3d(-17px, 0, 0);
    transition: all 0.2s ease-in-out;
}
.menu--close4.open .menu__line--2 {
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--2:before {
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.menu--close4.open .menu__line--3 {
    opacity: 0;
    transform: translate3d(17px, 0, 0);
    transition: all 0.2s ease-in-out;
}

.menu--back4 .menu__line--1 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4 .menu__line--2 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4 .menu__line--3 {
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--1 {
    transform: translate3d(-6.5px, 16px, 0) rotate(-135deg) scaleX(0.7);
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--2 {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}
.menu--back4.open .menu__line--3 {
    transform: translate3d(-6.5px, -16px, 0) rotate(-225deg) scaleX(0.7);
    transition: transform 0.3s ease-in-out;
}
.menu {
    position: relative;
    padding-right: 25px;
}

.mobile-routes{
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: calc(30px + 2vw);
    font-weight: 700;
}

.mobile-routes a{
    color: #56597a;
    text-decoration: none;
}

.mobile-routes a:hover{
    color: #7b98ff;
}

.hs-1{
    padding-top: 5rem;
}

section{
    color: #56597a;
    width: 100%;
    background-color: #f1f1f1;
    cursor: default;
    overflow-x: hidden;
}

.home-flexbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.hf-1{
    padding: 10rem 0 10rem 0;
}

.title-sm-left{
    font-weight: bold;
    color: #7b98ff;
    transition: 300ms;
}

.title-sm-left:hover{
    transform: translateX(1rem);
}

.title-lg-left{
    transition: 300ms;
    font-size: calc(29px + 1vw);
}

.title-lg-left:hover{
    transform: translateX(1rem);
}

.desc{
    font-size: 18px;
    transition: 300ms;
    color: #84849b;
}

.desc:hover{
    transform: translateX(1rem);
}

.hf-image-box{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recommended-img{
    transition: 300ms;
    width: calc(250px + 11vw);
}

.recommended-img:hover{
    transition: 300ms;
    transform: scale(103%);
}

.hs-row{
    height: auto;
}

.hf2-text{
    text-align: center;
}

.title-sm-row{
    color: #7b98ff;
    transition: 300ms;
    font-weight: bold;
}

.title-sm-row:hover{
    transform: scale(103%);
}

.title-lg-row{
    transition: 300ms;
    font-size: calc(27px + 1vw);
}

.title-lg-row:hover{
    transform: scale(103%);
}

.block-row{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.hf-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
}

.block-row-item{
    margin: 1rem;
    display: flex;
    padding: 2rem;
    height: 20rem;
    max-width: 17rem;
    min-width: 16rem;
    transition: 300ms;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: inherit;
    background-color: rgba(201, 213, 255, 0.6);
}

.block-row-item:hover{
    color: #f1f1f1;
    transform: scale(105%);
    background-color: #8aa3ff;
    box-shadow: 0 5px 15px #0000003b;
}

.block-title{
    font-weight: 600;
}

.block-row-item a{
    color: #56597a;
    position: relative;
    text-decoration: none;
    transition: 300ms;
    font-weight: 500;
}

.block-row-item a:hover{
    text-decoration: underline;
    color: #f1f1f1;
}

.hf-2{
    padding: 5rem 0 2rem 0;
}

.hf-3{
    padding: 5rem 0 5rem 0;
}

.company-list{
    color: #56597a;
    width: 100%;
    background-color: #f1f1f1;
    cursor: default;
    overflow-x: hidden;
}

.company-list-flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.cl-row{
    justify-content: center;
    flex-direction: column;
}

.company-logo{
    width: calc(4rem + 6vw);
    filter: grayscale(100%);
    transition: 300ms;
    margin: 0 1rem 0 1rem;
}

.company-logo:hover{
    transform: scale(105%);
    filter: none;
}

.hs-blog{
    min-height: 26.333rem;
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='450' preserveAspectRatio='none' viewBox='0 0 1920 450'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1920' height='450' x='0' y='0' fill='rgba(241%2c 241%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c115 C 128%2c100.2 384%2c22.4 640%2c41 C 896%2c59.6 1024%2c200.2 1280%2c208 C 1536%2c215.8 1792%2c105.6 1920%2c80L1920 450L0 450z' fill='rgba(212%2c 221%2c 255%2c 0.6)'%3e%3c/path%3e%3cpath d='M 0%2c397 C 128%2c367.6 384%2c251.6 640%2c250 C 896%2c248.4 1024%2c385 1280%2c389 C 1536%2c393 1792%2c293.8 1920%2c270L1920 450L0 450z' fill='rgba(123%2c 152%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1920' height='450' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.hf-blog{
    text-align: center;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
}

.desc-row{
    font-size: 18px;
    transition: 300ms;
    color: #84849b;
}

.desc-row:hover{
    transform: scale(105%);
}

.input-flexbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.blog-input{
    font-size: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 1rem;
    transition: 300ms;
    text-align: center;
    margin: 0.625rem;
}

.blog-input:focus{
    transform: scale(103%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.blog-btn{
    font-size: 22px;
    padding: 1rem;
    transition: 200ms;
    text-align: center;
    border: none;
    border-radius: 12px;
    margin: 0.625rem;
    color: #56597a;
    background-color: #cbd7ffff;
}

.blog-btn:hover{
    transform: scale(104%);
    color: #f1f1f1;
    background-color: #7b98ff;
    box-shadow: 0 5px 15px #0000003b;
}

.blog-btn:active{
    transform: scale(100%);
}

footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1.325rem;
    background-color: #7b98ff;
}

.projects-section{
    padding-top: 5rem;
}

.projects-flexbox-lg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-flexbox-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
}

.projects-title{
    text-align: center;
    margin-top: 2rem;
    color: #56597a;
    transition: 300ms;
}

.projects-title:hover{
    transform: scale(105%);
}

.site-panel{
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 15px;
    padding: 2rem;
    margin: 0 2rem 0 2rem;
    border: 1px solid #e1e1e1;
    background-color: rgba(201, 213, 255, 0.6);
    transition: 300ms;
}

.site-panel:hover{
    transform: scale(103%);
}

.sp-1{

}

.sp-2 {

}

.site-panel-h1{
    font-weight: 700;
    transition: 300ms;
}

.site-panel-h1:hover{
    transform: translateX(1rem);
}

