/*main css file*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-size: 24px;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

::selection {
    background: rgba(123, 152, 255, 0.2);
}

::-moz-selection {
    background: rgba(123, 152, 255, 0.2);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    z-index: 999;
}

.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul{
    margin: 0;
    display: flex;
    list-style: none;
}

nav li{
    transition: 100ms;
    margin-left: 1rem;
}

nav li:active{
    transform: scale(90%);
}

.bi-list{
    color: #56597a;
    font-size: 40px;
}

nav a{
    color: #56597a;
    position: relative;
    text-decoration: none;
    transition: 300ms;
}

nav a:hover{
    transition: 300ms;
    text-decoration: underline;
    color: #7b98ff;

}

nav h1{
    color: #56597a;
    margin: 0;
    font-weight: 600;
    transition: 400ms;
    animation: logo_slide 300ms;
}

nav h1:hover{
    color: #7b98ff;
    cursor: default;
}

nav h1:active{
    transition: 100ms;
}

.home-section{
    color: #56597a;
    width: 100%;
    background-color: #f1f1f1;
    cursor: default;
    overflow-x: hidden;
}

.home-flexbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.hf-1{
    height: 92vh;
}

.title-sm-left{
    font-weight: bold;
    color: #7b98ff;
    transition: 300ms;
}

.title-sm-left:hover{
    transform: translateX(1rem);
}

.title-lg-left{
    transition: 300ms;
    font-size: calc(29px + 1vw);
}

.title-lg-left:hover{
    transform: translateX(1rem);
}

.desc{
    font-size: 18px;
    transition: 300ms;
}

.desc:hover{
    transform: translateX(1rem);
}

.hf-image-box{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recommended-img{
    transition: 300ms;
    width: calc(250px + 11vw);
}

.recommended-img:hover{
    transition: 300ms;
    transform: scale(103%);
}

.hs-row{
    height: auto;
}

.hf2-text{
    text-align: center;
}

.title-sm-row{
    color: #7b98ff;
    transition: 300ms;
    font-weight: bold;
}

.title-sm-row:hover{
    transform: scale(103%);
}

.title-lg-row{
    transition: 300ms;
    font-size: calc(29px + 1vw);
}

.title-lg-row:hover{
    transform: scale(103%);
}

.block-row{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.block-row-item{
    margin: 1rem;
    display: flex;
    padding: 2rem;
    height: 20rem;
    max-width: 17rem;
    min-width: 16rem;
    transition: 300ms;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: inherit;
    background-color: rgba(201, 213, 255, 0.6);
}

.block-row-item:hover{
    color: #f1f1f1;
    transform: scale(105%);
    background-color: #8aa3ff;
}

.block-title{
    font-weight: 600;
}

.block-row-item a{
    color: #56597a;
    position: relative;
    text-decoration: none;
    transition: 300ms;
    font-weight: 500;
}

.block-row-item a:hover{
    text-decoration: underline;
    color: #f1f1f1;
}

.hf-2{
    padding: 5rem 0 2rem 0;
}

.hf-3{
    padding: 5rem 0 5rem 0;
}

.company-list{
    color: #56597a;
    width: 100%;
    background-color: #f1f1f1;
    cursor: default;
    overflow-x: hidden;
}

.company-list-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
}

.company-logo{
    width: 12rem;
    filter: grayscale(100%);
    transition: 300ms;
}

.company-logo:hover{
    transform: scale(105%);
    filter: none;
}