/*main css file*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    font-size: 24px;
    overflow-x: hidden;
    background-color: #ffffff;
}

::selection {
    background: rgba(0, 0, 0, 0.39);
}

::-moz-selection {
    background: rgba(0, 0, 0, 0.39);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
}

.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul{
    margin: 0;
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 1rem;
}

nav a{
    position: relative;
    color: black;
    text-decoration: none;
    transition: 300ms;
}

nav a:hover{
    transition: 300ms;
    text-decoration: underline;
    color: #7b98ff;
}

nav h1{
    margin: 0;
    font-weight: 600;
    transition: 400ms;
    animation: logo_slide 300ms;
}

nav h1:hover{
    color: #7b98ff;
}

nav h1:active{
    transition: 100ms;
}

.home-section-1{
    width: 100%;
    height: 100vh;
    background-color: #7b98ff;
}

.home-flexbox-1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-section-2{
    width: 100%;
    height: 100vh;
    background-color: #36467e;
}

.recommended-img{
    width: 500px;
    height: 500px;
}